doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        meta(rel="icon" href="../Favicon.png" type="image/x-icon")

        title MYEL

        link(rel="icon" href="./Favicon.png" type="image/x-icon")
        style
            include styles/smartbasket.min.css
            include styles/owl.carousel.min.css
            include styles/owl.theme.default.min.css
            include styles/style.css



    body
        div.wrapper
            include modules/header
            section.catalog.container
                h2.jewelry__title.title__all ЮВЕЛИРНЫЕ УКРАШЕНИЯ
                div.catalog__body
                    div.catalog__title.title__first СЕРЬГИ
                    div.catalog__cards
                        //Первый товар (серьги)
                        div.catalog__item
                            div.card__image
                                img(src="../img/catalog/card-1.jpg", alt="Серьги")
                            div.card__info
                                div.card__price
                                    div.card__price-number 5 500 ₽

                                div.product__quantity.card-amount

                                div.card__button-add
                                    button(data-sb-id-or-vendor-code="01"
                                        data-sb-product-name="Серьги"
                                        data-sb-product-price='5500'
                                        data-sb-product-quantity='1'
                                        data-sb-product-img="../img/catalog/card-1.jpg" href="").card__button-add.card__button Добавить в корзину
                        //Второй товар (серьги)
                        div.catalog__item
                            div.card__image
                                img(src="../img/catalog/card-2.jpg", alt="Серьги")
                            div.card__info
                                div.card__price
                                    div.card__price-number 4 900 ₽

                                div.product__quantity.card-amount

                                div.card__button-add
                                    button(data-sb-id-or-vendor-code="02"
                                        data-sb-product-name="Серьги"
                                        data-sb-product-price='4900'
                                        data-sb-product-quantity='1'
                                        data-sb-product-img="../img/catalog/card-2.jpg" href="").card__button-add.card__button Добавить в корзину
                        //Третий товар (серьги)
                        div.catalog__item
                            div.card__image
                                img(src="../img/catalog/card-3.jpg", alt="Серьги")
                            div.card__info
                                div.card__price
                                    div.card__price-number 6 200 ₽

                                div.product__quantity.card-amount

                                div.card__button-add
                                    button(data-sb-id-or-vendor-code="03"
                                        data-sb-product-name="Серьги"
                                        data-sb-product-price='6200'
                                        data-sb-product-quantity='1'
                                        data-sb-product-img="../img/catalog/card-3.jpg" href="").card__button-add.card__button Добавить в корзину
                section#chain.catalog__body.chain_body
                    div.catalog__title.title__second ЦЕПОЧКИ
                    div.catalog__cards
                        //Первый товар (цепочки)
                        div.catalog__item
                            div.card__image
                                img(src="../img/catalog/chain/chain-1.jpg", alt="Цепочки")
                            div.card__info
                                div.card__price
                                    div.card__price-number 3 700 ₽

                                div.product__quantity.card-amount

                                div.card__button-add
                                    button(data-sb-id-or-vendor-code="04"
                                        data-sb-product-name="Цепочка"
                                        data-sb-product-price='3700'
                                        data-sb-product-quantity='1'
                                        data-sb-product-img="../img/catalog/chain/chain-1.jpg" href="").card__button-add.card__button Добавить в корзину
                        //Второй товар (цепочки)
                        div.catalog__item
                            div.card__image
                                img(src="../img/catalog/chain/chain-2.jpg", alt="Цепочки")
                            div.card__info
                                div.card__price
                                    div.card__price-number 2 900 ₽

                                div.product__quantity.card-amount

                                div.card__button-add
                                    button(data-sb-id-or-vendor-code="05"
                                        data-sb-product-name="Цепочка"
                                        data-sb-product-price='2900'
                                        data-sb-product-quantity='1'
                                        data-sb-product-img="../img/catalog/chain/chain-2.jpg" href="").card__button-add.card__button Добавить в корзину

                        //Третий товар (цепочки)
                        div.catalog__item
                            div.card__image
                                img(src="../img/catalog/chain/chain-3.jpg", alt="Цепочки")
                            div.card__info
                                div.card__price
                                    div.card__price-number 5 300 ₽

                                div.product__quantity.card-amount

                                div.card__button-add
                                    button(data-sb-id-or-vendor-code="06"
                                        data-sb-product-name="Цепочка"
                                        data-sb-product-price='5300'
                                        data-sb-product-quantity='1'
                                        data-sb-product-img="../img/catalog/chain/chain-3.jpg" href="").card__button-add.card__button Добавить в корзину
                section#bracelet.catalog__body.chain_body
                    div.catalog__title.title__second БРАСЛЕТЫ
                    div.catalog__cards
                        //Первый товар (браслет)
                        div.catalog__item
                            div.card__image
                                img(src="../img/catalog/bracelet/bracelet-1.jpg", alt="Браслет")
                            div.card__info
                                div.card__price
                                    div.card__price-number 4 200 ₽

                                div.product__quantity.card-amount

                                div.card__button-add
                                    button(data-sb-id-or-vendor-code="07"
                                        data-sb-product-name="Браслет"
                                        data-sb-product-price='4200'
                                        data-sb-product-quantity='1'
                                        data-sb-product-img="../img/catalog/bracelet/bracelet-1.jpg" href="").card__button-add.card__button Добавить в корзину

                        //Второй товар (браслет)
                        div.catalog__item
                            div.card__image
                                img(src="../img/catalog/bracelet/bracelet-2.jpg", alt="Браслет")
                            div.card__info
                                div.card__price
                                    div.card__price-number 3 100 ₽

                                div.product__quantity.card-amount

                                div.card__button-add
                                    button(data-sb-id-or-vendor-code="08"
                                        data-sb-product-name="Браслет"
                                        data-sb-product-price='3100'
                                        data-sb-product-quantity='1'
                                        data-sb-product-img="../img/catalog/bracelet/bracelet-2.jpg" href="").card__button-add.card__button Добавить в корзину
                        //Третий товар (браслет)
                        div.catalog__item
                            div.card__image
                                img(src="../img/catalog/bracelet/bracelet-3.jpg", alt="Браслет")
                            div.card__info
                                div.card__price
                                    div.card__price-number 4 300 ₽

                                div.product__quantity.card-amount

                                div.card__button-add
                                    button(data-sb-id-or-vendor-code="09"
                                        data-sb-product-name="Браслет"
                                        data-sb-product-price='4300'
                                        data-sb-product-quantity='1'
                                        data-sb-product-img="../img/catalog/bracelet/bracelet-3.jpg" href="").card__button-add.card__button Добавить в корзину
                div.smart-basket__wrapper
            section.new__block.container
                h2.new__title.title__all НОВИНКИ
                .new__block_info.info__first
                    .info__first_image
                        img(src="../img/catalog/new__block/new__block-1.jpg", alt="Девушка")
                    .info__first_text 
                        p.first-text__title Planning targets entails the process of using and implementing a development model.
                        p.first-text__item Spontaneous, delicate, audacious, our jewels distinguish themselves with their elegance.

                .new__block_info.info__second
                    .info__second_text 
                        p.second-text__title The significance of these problems is so obvious that the scope and place.
                        p.second-text__item We should not, however, forget that the constant information and propaganda support of our activities.
                    .info__second_image
                        img(src="../img/catalog/new__block/new__block-2.jpg", alt="Девушка")
            section.footer__fon.container.new-footer__fon
                img(src="../img/catalog/new__block/new__block-3.jpg", alt="Фон")
                .fon-text__all.container
                    p.fon__text #WITHLOVEMYEL
                    h3.fon__title.new-fon__title Subscribe to <br>our newsletter.
            include modules/Registration
            include modules/footer






        script(src="../js/jquery-3.6.0.min.js")
        script(src="../smartbasket/js/smartbasket.min.js")
        script(src="../js/owl.carousel.min.js")
        script(src="../js/main.js")